<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- jquery cdn -->
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
</script>
<body>
<div class="container">
    <form action="/member/save" method="post">
        <div class="form-group">
            <label for="id">아이디</label>
            <input type="text" id="id" name="id" placeholder="아이디를 입력하세요"><br>
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" onkeyup="emailCheck()" placeholder="이메일을 입력하세요"><br>
            <p id="check-result"></p>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"><br>
        </div>
        <button type="submit">회원가입</button>
    </form>
        <a href="/member/login">취소</a>
</div> <!-- /container -->
</body>
<script th:inlne="javascript">
    const emailCheck = () => {
        const email = document.getElementById("email").value;
        const checkResult = document.getElementById("check-result");
        console.log("입력값: ", email);
        $.ajax({
            // 요청방식 : post, url : "email-check", 데이터 : 이메일
            type : "post",
            url : "/member/email-check",
            data : {
                "email" : email
            },
            success : function(res){
                console.log("요청성공", res);
                if(res == "ok"){
                    console.log("사용가능한 이메일");
                    checkResult.innerHTML = "사용가능한 이메일"
                    checkResult.style.color = "green";
                }else{
                    console.log("이미 사용중인 이메일");
                    checkResult.innerHTML = "이미 사용중인 이메일"
                    checkResult.style.color = "red";
                }

            },
            error: function(err){
                console.log("에러발생", err);
            }

        });
    }

</script>
</html>
